body {
      margin: 0;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color: #333;
      line-height: 1.6;
    }
    header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5%;
  background: rgb(238, 236, 236);
  position: sticky;
  top: 0;
  z-index: 1000;
}
.logo {
  font-size: 1.5rem;
  font-weight: bold;
}
nav ul {
  display: flex;
  list-style: none;
  gap: 30px;
}
nav ul li a {
  text-decoration: none;
  color: #333;
}
nav ul li a.active {
  font-weight: bold;
}
    .a{
      background: #1e8d83;
      color: #fff;
      text-align: center;
      padding: 60px 20px;
    }
    .a h1 {
      margin: 0;
      font-size: 2.8rem;
    }
.project{
    margin: 50px;
    padding: 50px;
    gap: 50px;
}
.pro1{
    height: 150%;
    width: 150%;
    align-items: start;
    margin-right: 80%;
    padding: 10px;
    display: flex;
}
.pro2{
    height: 150%;
    width: 150%;
    margin-left: 25%;
    align-items: end; 
    justify-content: right;
    align-content: end;
    display: flex;
    padding: 10px;
}
.pro3{
    height: 150%;
    width: 150%;
    align-items: start;
    margin-right: 80%;
    padding: 10px;
}
.pro4{
    height: 150%;
    width: 150%;
    margin-left: 75%;
    align-items: end; 
    justify-content: right;
    align-content: end;
    padding: 10px;
}
.pro5{
    height: 150%;
    width: 150%;
    align-items: start;
    margin-right: 80%;
    padding: 10px;
}
.pro6{
    height: 150%;
    width: 200px;
    margin-left: 75%;
    align-items: end; 
    justify-content: right;
    align-content: end;
    padding: 10px;
}